nav{
    display: flex;
    width: cover;
}
.boton-imagen{
    display: flex;
    width: 12rem;
    height:12rem ;
}
.jogo{
    margin-left: 150%;
    width: 20rem; 
    height: 13rem;
}

body{
    
    background-size: 1450px;
    background-attachment: fixed;
    background-color: blue;
    background: url('./img/fondo.png') no-repeat;
    background-size: cover;
}