*{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}
body{
    
    background-size: 100px;
    background-attachment: fixed;
    background-color: rgb(52, 238, 5);
    
    background-size: cover;
}

  
.cont{
    height: 10rem;

}
.nav{
    display: inline-block;
    text-decoration: none;
}
nav{
    background-color: rgb(255, 255, 255);
    font-size: 40px ;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50%  ;
    

}

a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(232, 237, 245);
    margin-right: 3rem;
    margin-left: 3rem;

}
img{
    width: 82px;
    height: 50px;
    align-items: end;
}
a::after{
    content: "";
}
h1{
    text-align: center ;
    font-size: 40px;
}
h2{
    font-size: 30px;
}

.atd{
    border-radius: 0%;
    width:700px;
    height:700px ;
}
section{
    text-align: left;

}

.offcanvas-start{
    max-width: 30rem;
}
.offcanvas-end{
    background-color: rgb(251, 252, 255);
}
.nubogo{
    width: 10px;
}
.boton-imagen{
    width: 7rem;
    height:7rem ;
   
}
.linksus{
    visibility:visible
}
.jogo{
    margin-left: 0px;
    width: 13rem; 
    height: 7rem;
}

.contenido{
    font-size: 180px;
    
    
    color: rgb(45, 218, 11);

}

.texto{
    align-items: left;
}

.box {
    width: 500px;
    float: left;
    background: rgb(244, 245, 239);
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    margin-top: 4%;
    color: rgb(6, 176, 255);
    font-family: 'Century Gothic', sans-serif;
    border-radius: 25px;
   
    /* box-shadow: 7px 13px 37px red; */
  }

  .parrafo{
    font-size: 20px;
  }

  .box-img{
   
    width: 100px;
    height: 100px;
    
    border-radius: 10%;
  }

  .box ul li {
    display: inline-block;
  }
  .box ul li a {
    color: rgb(5, 20, 238);
    font-size: 35px;
    padding: 10px 5px;
    transition: all .5s ease-in-out;
    display: block;
  }
  
  .box ul li a:hover {
    color:#b9b9b9;
    transform: scale(1.1);
  }


  .imagenes{
    width: 0pxsi;
    height: 1000px;
    display:flex;
    justify-content: right;
  }

  .slider {
    position: none;
  }
  .slider .slides {
    display: none;
  }
  
  
  .slider .slides img {
    width: 50%;
    max-width: 700px;
    display: flex;
    justify-content: center;
  }

  .twitter{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }